.App {
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
}

.b-primary {
  background: rgb(54, 74, 143);
  color: white;
  font-weight: 600;
  font-size: 2rem;
  border-radius: 5rem;
  margin-top: 0.5rem;
  width: 25rem;
  height: 4rem;
  outline: none;
}

#header_1 {
  font-size: 7rem;
  color: rgb(54, 74, 143);
}

#header_2 {
  margin: 0 auto 2rem;
  font-size: 2erm;
  color: rgb(146, 157, 155);
  width: 20rem;
  height: 4rem;
}

.header-primary {
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
}

.h-1 {
  font-weight: 200;
  font-size: 2rem;
  margin: 1rem;
}

.submit-pin {
  border: 3px solid rgb(54, 74, 143);
  outline: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 2rem;
  border-radius: 5rem;
  margin-top: 2rem;
  width: 25rem;
  height: 4rem;
  color: rgb(54, 74, 143);
  background: white;
}

.submit-back {
  color: gray;
  font-size: 1.5rem;
  outline: none;
  margin: 1rem;
  border: none;
}

/* for entire AdminPinPad div */
.pin-pad {
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: auto 0; */
  height: 75vh;
  width: 100vw;
  /* background: red; */
  /* justify-content: center; */

  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 40%, rgb(197, 202, 206) 100%);
}

.pinPad {
  /* border-color: rgb(54, 74, 143); */
  margin: 8px;
  padding: 20px;
  border: none;
  outline: none;
  color: black;
  background: #e3e3e3;
  font-size: 4rem;
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
  text-align: center;
  transition: 100ms ease;
}

.pinPad:focus {
  background: #c9c9c9;
}

.back-button {
  text-align: left;
  margin-left: 1rem;
}

.h-admin {
  font-size: 1rem;
  font-weight: 200 !important;
  margin: 5px;
}

.tr-header {
  font-size: 1.2rem;
  font-weight: 600 !important;
}

.table {
  padding: 10px 5rem;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.content {
  font-size: 1rem;
  font-weight: 200 !important;
}